.link-container {
  margin: 10px;
}

.link {
  text-decoration: none;
  color: #393646;
}

.error-message {
  color: #cd1818;
}

.search-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.search-container span {
  margin-top: -15px;
}

nav {
  height: 100px;
}
