.county-card {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; /* garante que o modal fique acima dos outros elementos */
}

.country-content {
  background-color: white;
  border-radius: 4px;
  padding: 20px;
  max-width: 400px;
  text-align: center;
  width: 100%; /* ocupa toda a largura disponível */
  height: 80%; /* ocupa toda a altura disponível */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.county-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
